* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  color: #fff;
  background: #1a1a1a;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

a:hover {
  color: #535bf2;
}


h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 3px;
  background: #646cff;
  color: #fff;
  padding: 0.25rem 1rem;
  border: none;
  cursor: pointer;
}

button:hover {
  background: #535bf2;
}